[project]
	description = This project will be used for testing infrastructure tools.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ariel Franco (agfranco19)
[access "refs/for/refs/*"]
	read = group user/Ariel Franco (agfranco19)
	push = group user/Ariel Franco (agfranco19)
	label-Code-Review = -2..+2 group user/Ariel Franco (agfranco19)
	label-Verified = -1..+1 group user/Ariel Franco (agfranco19)
	rebase = group user/Ariel Franco (agfranco19)
	removeReviewer = group user/Ariel Franco (agfranco19)
	submit = group user/Ariel Franco (agfranco19)
[access "refs/heads/*"]
	read = group user/Ariel Franco (agfranco19)
	create = group user/Ariel Franco (agfranco19)
	push = +force group user/Ariel Franco (agfranco19)
	pushMerge = group user/Ariel Franco (agfranco19)
[access "refs/tags/*"]
	push = group user/Ariel Franco (agfranco19)
	push = +force group user/Ariel Franco (agfranco19)
